/**
 * The breakpoints we serve in our frontend.
 */
:root {
	--bp-sm: 48rem; /** 768px **/
	--bp-md: 60rem; /** 960px **/
	--bp-lg: 75rem; /** 1200px **/

	/** Define the variable for where the last breakpoint was. */
	--last-bp: none;
}

/**
 * Update some base variables based on the breakpoints.
 */
@media (--sm-query) {

	:root {
		--last-bp: var(--bp-sm);
	}
}

@media (--md-query) {

	:root {
		--last-bp: var(--bp-md);
	}
}

@media (--lg-query) {

	:root {
		--last-bp: var(--bp-lg);
	}
}
