@media (--xs-query) {

	:root .wp-block-cover {

		&.alignwide {
			max-width: none;
			width: auto;
			margin-left: calc(var(--grid-gutter-width) * -1);
			margin-right: calc(var(--grid-gutter-width) * -1);
		}
	}
}
