/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: var(--color-primary-500);
}

a:visited {
	color: var(--color-primary-500);
}

a:hover,
a:focus,
a:active {
	color: var(--color-primary-700);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
